In [8]:
import pandas as pd

In [9]:
fruits = pd.Series(["apple", "banana", "orange", "pear", "strawberry"], index=["A", "B", "C", "D", "E"]) #List
fruits

A         apple
B        banana
C        orange
D          pear
E    strawberry
dtype: object

In [10]:
type(fruits)

pandas.core.series.Series

In [11]:
fruits = pd.Series({"A": "apple", 
                    "B": "banana", 
                    "C": "orange", 
                    "D": "pear", 
                    "E": "strawberry"}) #Dictionary
fruits

A         apple
B        banana
C        orange
D          pear
E    strawberry
dtype: object

In [12]:
weight = pd.Series({"Hoa": 37,
                    "Nam": 48,
                    "Hai": 42,
                    "Linh": 39,
                    "Nhan": 41,
                    "Phuong": 38,
                    "Thu": 40,
                    "Vu": 40,
                    "Bao": 100 #Du lieu ngoai lai (outllier)
                    })

mean = weight.mean() #Average
median = weight.median()#Trung vi
mode = weight.mode()[0]#Nhieu nhat
print(round(mean, 2))
print(median)
print(mode)

47.22
40.0
40

41\
40.0\
40

In [13]:
weight[["Hoa", "Nam"]]

Hoa    37
Nam    48
dtype: int64

In [14]:
animals = pd.DataFrame({
    "dong_vat": ["Sao La", "Khi Duoi Ngan", "Voi Chau A"],
    "tuoi_tho": [25, 25, 70],
    "loai": ["Co vu", "Linh truong", "Co vu"]
})

animals

        dong_vat  tuoi_tho         loai
0         Sao La        25        Co vu
1  Khi Duoi Ngan        25  Linh truong
2     Voi Chau A        70        Co vu

In [15]:
animals.describe()

        tuoi_tho
count   3.000000
mean   40.000000
std    25.980762
min    25.000000
25%    25.000000
50%    25.000000
75%    47.500000
max    70.000000

In [16]:
animals.to_csv("animals.csv")

In [17]:
with open("./animals.csv", "r") as f:
    animals_list = pd.read_csv(f, index_col=0)

In [18]:
animals_list

        dong_vat  tuoi_tho         loai
0         Sao La        25        Co vu
1  Khi Duoi Ngan        25  Linh truong
2     Voi Chau A        70        Co vu

In [20]:
animals_list[:2]

        dong_vat  tuoi_tho         loai
0         Sao La        25        Co vu
1  Khi Duoi Ngan        25  Linh truong

In [19]:
animals.iloc[[0,2]]

     dong_vat  tuoi_tho   loai
0      Sao La        25  Co vu
2  Voi Chau A        70  Co vu

In [23]:
animals_list = animals_list.set_index('dong_vat') #Set ten thanh index
animals_list

               tuoi_tho         loai
dong_vat
Sao La               25        Co vu
Khi Duoi Ngan        25  Linh truong
Voi Chau A           70        Co vu

In [26]:
animals_list.loc['Sao La']["loai"]#Lay thong tin con Sao La

'Co vu'

In [31]:
animals_list['tuoi_tho'].mean()#Lay cot

40.0

In [39]:
animals_list[animals_list['tuoi_tho'] < 30]

               tuoi_tho         loai
dong_vat
Sao La               25        Co vu
Khi Duoi Ngan        25  Linh truong

In [38]:
animals_list[animals_list['loai'] == "Co vu"]

            tuoi_tho   loai
dong_vat
Sao La            25  Co vu
Voi Chau A        70  Co vu

In [41]:
animals_list[(animals_list['loai'] == "Co vu") & (animals_list['tuoi_tho'] < 30)]

          tuoi_tho   loai
dong_vat
Sao La          25  Co vu